<nav class="navbar navbar-inverse navbar-fixed-top">
      <ul class="nav navbar-nav">
              <li><a href="#">Summary</a></li>
              <li><a href="#">You</a></li>
              <li><a href="#">Settings</a></li>
      </ul>
</nav>
<div class="container">
    <current-user></current-user>
    <login></login>
    <register></register>
    <logout></logout>
    <add-taxonomy></add-taxonomy>
    <add-history></add-history>
    <history-by-taxonomy></history-by-taxonomy>
    <user-data></user-data>
    <all-data></all-data>
</div>
<nav id="navbar_botom" class="navbar navbar-inverse navbar-static-bottom">
    <p class="navbar-text">Brainstein Labs</p>
</nav>
