<nav class="navbar navbar-inverse navbar-fixed-top">
    <p class="navbar-text">Trackercise</p>
</nav>
<div class="container">
    <current-user></current-user>
    <login></login>
    <register></register>
    <logout></logout>
    <add-taxonomy></add-taxonomy>
    <add-history></add-history>
    <history-by-taxonomy></history-by-taxonomy>
    <user-data></user-data>
    <all-data></all-data>
</div>
<nav class="navbar navbar-inverse navbar-static-bottom">
    <p class="navbar-text">Brainstein Labs</p>
</nav>