<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Trackercise</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="#">Summary</a></li>
            <li><a href="#/all-data">You</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </div>
</nav>
<div id="buffer"></div>
<div class="container">
    <current-user></current-user>
    <login></login>
    <register></register>
    <logout></logout>
    <add-taxonomy></add-taxonomy>
    <add-history></add-history>
    <history-by-taxonomy></history-by-taxonomy>
    <user-data></user-data>
    <all-data></all-data>
</div>
<nav id="navbar_botom" class="navbar navbar-inverse navbar-static-bottom">
    <p class="navbar-text">Brainstein Labs</p>
</nav>
