<h2>Register</h2>
<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="form-group">
        <label for="nicknameEntry">Nickname</label>
        <input type="text" id="nicknameEntry" class="form-control" name="register_nickname" placeholder="Choose a nickname" ngModel>
    </div>
    <div class="form-group">
        <label for="emailEntry">Email Address</label>
        <input type="email" id="emailEntry" class="form-control" name="register_email" placeholder="Enter your email" ngModel>
    </div>
    <div class="form-group">
        <label for="passwordEntry">Password</label>
        <input type="password" id="passwordEntry" class="form-control" name="register_password" placeholder="Enter your password" ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
