<!doctype html>
<title>Track Your Workout</title>
<div class=page>
  <h1>Trackercize!</h1>
    <h2>Taxonomy Table</h2>
    <table>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Back
            </th>
            <th>
                Chest
            </th>
            <th>
                Shoulders
            </th>
            <th>
                Biceps
            </th>
            <th>
                Triceps
            </th>
            <th>
                Legs
            </th>
            <th>
                Core
            </th>
            <th>
                Balance
            </th>
            <th>
                Cardio
            </th>
            <th>
                Weight Per Hand
            </th>
        </tr>
        {% for item in entries[0] %}
        <tr>
            <td>
                {{ item.id }}
            </td>
            <td>
                {{ item.name }}
            </td>
            <td>
                {{ item.is_back }}
            </td>
            <td>
                {{ item.is_chest }}
            </td>
            <td>
                {{ item.is_shoulders }}
            </td>
            <td>
                {{ item.is_biceps }}
            </td>
            <td>
                {{ item.is_triceps }}
            </td>
            <td>
                {{ item.is_legs }}
            </td>
            <td>
                {{ item.is_core }}
            </td>
            <td>
                {{ item.is_balance }}
            </td>
            <td>
                {{ item.is_cardio }}
            </td>
            <td>
                {{ item.is_weight_per_hand }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <h2>History Table</h2>
    <table>
        <tr>
            <th>
                Entry No.
            </th>
            <th>
                User Name
            </th>
            <th>
                Exercise Id
            </th>
            <th>
                Sets
            </th>
            <th>
                Reps
            </th>
            <th>
                Weight
            </th>
            <th>
                Date
            </th>

        </tr>
        {% for item in entries[1] %}
            <tr>
                <td>
                    {{ item.id }}
                </td>
                <td>
                    {{ item.user_id }}
                </td>
                <td>
                    {{ item.exercise_id }}
                </td>
                <td>
                    {{ item.sets }}
                </td>
                <td>
                    {{ item.reps }}
                </td>
                <td>
                    {{ item.weight }}
                </td>
                <td>
                    {{ item.date }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>