<h2>Add History</h2>
<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <select class="form-control" name="exercises_select" ngModel>
        <option *ngFor="let p of pairs" [ngValue]="p[0]">{{p[1]}}</option>
    </select>
    <div class="form-group">
        <label for="setsEntry">Sets</label>
        <input type="number" id="setsEntry" class="form-control" name="add_sets" placeholder="Number of sets" required ngModel>
    </div>
    <div class="form-group">
        <label for="repsEntry">Reps</label>
        <input type="number" id="repsEntry" class="form-control" name="add_reps" placeholder="Number of reps per set" required ngModel>
    </div>
    <div class="form-group">
        <label for="weightEntry">Weight</label>
        <input type="number" step="0.01" id="weightEntry" class="form-control" name="add_weight" placeholder="Weight used (lbs)" required ngModel>
    </div>
    <button id="button-button" type="submit" class="btn btn-warning">Add History</button>
</form>