{% extends 'layout.html' %}
{% block body %}
<form action='/'>
    <button>Back home</button>
</form>
<form method=post>
    {{ form.csrf_token }}
    <h3>{{ form.exercise.label }}</h3>
    <p>{{ form.exercise }}</p>
    <h3>{{ form.sets.label }}</h3>
    <p>{{ form.sets }}</p>
    <h3>{{ form.reps.label }}</h3>
    <p>{{ form.reps }}</p>
    <h3>{{ form.weight.label }}</h3>
    <p>{{ form.weight }}</p>
    <h3>{{ form.exercise_date.label }}</h3>
    <p>{{ form.exercise_date }}</p>
    {{ form.submit }}
</form>
{% endblock %}
