<h2>Login</h2>
<form #f="ngForm" class="form-inline" (ngSubmit)="onSubmit(f.value)">
    <div class="form-group">
        <label for="emailEntry">Email address</label>
        <input type="email" id="emailEntry" name="login_email" placeholder="Enter your email" ngModel>
    </div>
    <div class="form-group">
        <label for="passwordEntry">Password</label>
        <input type="password" id="passwordEntry" name="login_password" placeholder="Enter your password" ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
